{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!--FORM DATA MAY BE WORNG!!!!-->
<div class="p-3" class="mx-auto" style="width: 500px;" >

    <h1>Add Books</h1>
    <br>
    <form action="" method="post" name="add_books">
        {{ form.hidden_tag() }}
        <!--Will provide mutiple forms with validation for each of them-->
        <p> Enter Book Title:</p>
        <p>
           {{ form.title(class_='form-control')}}<br>
           {% for error in form.title.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
        <p> Enter Book Author: </p>
        <p>
           {{ form.author(class_='form-control')}}<br>
           {% for error in form.author.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
    
        <div class="form-group">
          <label for="comment">Enter Book Genre:</label>
        <p>
           {{ form.genre(class_='form-control')}}<br>
           {% for error in form.genre.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
       </div>
    
       <p> Enter publish Date  (in form dd-mm-yyyy): </p>
       <p>{{ form.publish(class_='form-control')}}</p>
          {% for error in form.publish.errors %}
          [{{ error }}]
          {% endfor %}


    
    
        <!--Button that will submit the form once activated-->
        <p><input type="submit" class='btn btn-warning btn-block' value="submit"></p>
    
    </form>
    </div>



{% endblock %}
