{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container">

  <h1>Login</h1>
  <br>
  <form action="" method="post" name="Register">
      {{ form.hidden_tag() }}
      <!--Will provide mutiple forms with validation for each of them-->
      <p> Enter username:</p>
      <p>
         {{ form.name(class_='form-control')}}<br>
         {% for error in form.name.errors %}
         [{{ error }}]
         {% endfor %}
      </p>
      <p> Enter Password: </p>
      <p input type = "password">
         {{ form.password(class_='form-control', type = "password")}}<br>
         {% for error in form.password.errors %}
         [{{ error }}]
         {% endfor %}
      </p>

      <!--Button that will submit the form once activated-->
      <p><input type="submit" class='btn btn-warning btn-block' value="submit"></p>
  
  </form>
  <h3>Don't Have an Account?</h3><br>
  <h3><a href ="/reg">register here</a></h3>
  </div>

{% endblock %}