{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container" >

 
<h2>Hi {{ current_user.username }}</h2>
<h4>This is the settings page</h4>
 

<form action="" method = "POST">
    
  <p> Enter Password (if you want to change it): </p>
  <p type = "password">
     {{ form.password(class_='form-control', type = "password")}}<br>
     {% for error in form.password.errors %}
     [{{ error }}]
     {% endfor %}
  </p>
  <p><input type="submit" class='btn btn-warning btn-block' value="submit"></p>
</form>
<a href="logout">Logout Here</a>
</div>



{% endblock %}
