{% extends "base.html" %}
{% block content %}

<div class="p-3" >

<body>
    <h1>People who read {{ bookName }}</h1>
    
    <br>
    <table class="table">
       <thead>
          <th>Id</th>
          <th>User Name</th>
          <th>View profile of reader</th>

          

       </thead>
       <!--Will loop through each record in profiles which has been parsed to this file be views.py-->
       <!--each record will then be displayed in the table-->
       {% for data in all_users %}
        
            <tbody>
                <td scope="row">{{data.id}}</td>
                <td>{{data.username}}</td>
                
                <td><a href="/view_My/{{data.id}}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">view reader</a></td>
           

                
            </tbody>
        
       {% endfor%}
    </table>
 </body>
 </div>

{% endblock %}