{% extends "base.html" %}
{% block content %}

<div class="p-3" >

<body>
    <h1>{{ userName }}'s books</h1>
    
    <br>
    <table class="table">
       <thead>
          <th>Title</th>
          <th>Author</th>
          <th>Publish date</th>
          <th>Genre</th>
 
          

       </thead>
       <!--Will loop through each record in profiles which has been parsed to this file be views.py-->
       <!--each record will then be displayed in the table-->
       {% for data in user_books %}
        
            <tbody>
                
                <td scope="row">{{data.title}}</td>
                <td>{{data.author}}</td>
                <td>{{data.publish}}</td>
                <td>{{data.genre}}</td>
                

                <td><a href="/view_all/{{data.bookID}}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Who else has read this?</a></td>
            </tbody>
        
       {% endfor%}
    </table>
 </body>
 </div>

{% endblock %}