{% extends "base.html" %}
 {% block content %}
    
      
      <div >


        <h1> Welcome to Bookly </h1>
        <h3> My coursework project for web application development</h3>
        <p>how to use the website</p>
        <ul>
          <li>add book -</li>
          <li>view all books - </li>
          <li>view my books</li>
          <li>view users and their books</li>
          <li>settings</li>
        </ul>
        <p>make sure to log in first otherwise you can access the page</p>
        <p>only you can add books to your account</p>
      </div>
      
 {% endblock %}
